<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrh.mall.mapper.UmsResourceMapper">
  <resultMap id="BaseResultMap" type="com.hrh.mall.domain.UmsResource">
    <!--@mbg.generated generated on Fri Apr 24 11:10:43 CST 2020.-->
    <!--@Table ums_resource-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Apr 24 11:10:43 CST 2020.-->
    id, create_time, `name`, url, description, category_id
  </sql>
    <select id="getListByAdminId" resultMap="BaseResultMap">
       SELECT
        ur.id,
        ur.create_time,
        ur.`name`,
        ur.url,
        description,
        category_id
      FROM
        ums_resource ur
        LEFT JOIN ums_role_resource_relation rr
          ON ur.id = rr.resource_id
        LEFT JOIN ums_admin_role_relation arr
          ON arr.role_id = rr.role_id
      WHERE arr.admin_id = #{adminId}
    </select>
</mapper>
